<!--creates the dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Food Post</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/result">Donors and Shelters</a>
    <a href="/profile">My Profile</a>
    <a href="/map">Matches</a>
    <a href="/about">About Us</a>
  </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>



<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">

    <div class="polaroid">
      <p>Winnie</p>
      <img src="/images/winnie.jpg" />
        <text> </text>
    </div>
    <text>Hi everyone! My name is Winnie Wang, and I'm from San Francisco, CA. I graduated from Lowell High School and I'll be heading to San Jose State University in the fall as a comp sci major. I'm really excited to participate in this program! In my spare time, I enjoy doing going on hikes, learning new baking recipes, playing video games, and drinking coffee.  I look forward to meeting you guys! :)﻿</text>

    <div class="polaroid">
      <p>Patrick</p>
      <img src="/images/patrick.jpg" />
    </div>
    <text>Hey, what's up everyone. I'm Patrick and I'm originally from Daly City but I've lived in Millbrae since I was 8. I enjoy eating, sleeping and playing sports. I mainly do long distance running and playing badminton but I'd be down to play anything like basketball, volleyball, and ice skating. I'll be attending UC San Diego this coming fall, majoring in computer science at Earl Warren, and super excited to attending Google CSSI. Also, I work as a barista at a local milk tea shop called T4 so if you wanna stop by and get hook ups hit me up ;)﻿</text>

    <div class="polaroid">
      <br><p>Noel</p></br>
      <img src="/images/noel.jpg" />
    </div>
    <text>Hello everyone! My name is Noel Martinez-Amador, and my preferred gender pronouns are he/him/his. I just graduated from Eastside College Preparatory School, after I attended for seven years. I will head to Stanford University in the fall, where I plan to study engineering (of some sort). Through high school, I found an unremitting passion for speech and debate, journalism, and STEM. During my free time, I enjoy sleeping (as you can probably tell by my android), reading, and binge watching shows on Netflix. Any recommendations? Although I know nothing about computer science, I am eager to learn. I am looking forward to CSSI! :) -Noel </text>
  </head>

<!-- links the css file -->
<div>
  <link rel = "stylesheet" type = "text/css" href = "/styles/about.css"/>
</div>
