<!-- links the css file -->
<div>
  <link rel = "stylesheet" type = "text/css" href = "/styles/style.css"/>
</div>

<!--creates the dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Food Post</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/result">Donors and Shelters</a>
    <a href="/profile">My Profile</a>
    <a href="/about">About Us</a>
  </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>

<br>

<img id="aboutpic" src="images/noel.jpg" height="400" width="400">
<img id="aboutpic" src="images/winnie.jpg" height="400" width="400">
<img id="aboutpic"src="images/patrick.jpg" height="400" width="400">
