<form id="form" action ='/form' method="post">

<link rel = "stylesheet" type = "text/css" href = "/styles/form.css"/>

  <h2>Become a Donor!</h2>
    <h3>Name: </h3>
    <input class = "textarea" type="text" name="name">
    <h3>City: </h3>
    <input class = "textarea" type="text" name="city">
    <h3>Zip Code: </h3>
    <input class ="textarea" type="text" name="zipcode">
    <h3>Street Name: </h3>
    <input class= "textarea" type="text" name="streetname">
    <h3>Email: </h3>
    <input class = "textarea" type="text" name="email">
    <h3>Phone number: </h3>
    <input class ="textarea" type="text" name="phone" placeholder="##########">
    <br></br>

    Select the categories of food to donate: <br><br>

    <input type="checkbox" name="food" value="Protien">Protiens
    <br>
    <input type="checkbox" name="food" value="Grain">Grains
    <br>
    <input type="checkbox" name="food" value="Fruit">Fruits
    <br>
    <input type="checkbox" name="food" value="Vegetable">Vegetables
      <p><input class = "submitbutt" type="submit" value="Submit"></p>
</form>
