<form id="form" action ='/form' method="post">

<link rel = "stylesheet" type = "text/css" href = "/styles/form.css"/>

<div class="container">
  <h2>Become a Donor!</h2>
    <h3>Name: </h3>
    <input class = "textarea" type="text" name="name" placeholder="Naruto">
    <h3>City: </h3>
    <input class = "textarea" type="text" name="city" placeholder="Gotham City">
    <h3>Zip Code: </h3>
    <input class ="textarea" type="text" name="zipcode" placeholder="12345">
    <h3>Street Name: </h3>
    <input class= "textarea" type="text" name="streetname" placeholder="101 Sesame Street">
    <h3>Email: </h3>
    <input class = "textarea" type="text" name="email" placeholder="user@email.com">
    <h3>Phone number: </h3>
    <input class ="textarea" type="text" name="phone" placeholder="##########">
    <br></br>

    Select the categories of food to donate: <br><br>

    <input type="checkbox" name="protien" value="Protien">Protiens
    <textarea name="protiens" rows ="1" cols="20" placeholder="Please specify items seperated with ,'s'"></textarea>
    <br>
    <input type="checkbox" name="grain" value="Grain">Grains
    <textarea name="grains" rows ="1" cols="20" placeholder="Please specify items seperated with ,'s"></textarea>
    <br>
    <input type="checkbox" name="fruit" value="Fruit">Fruits
    <textarea name="fruits" rows ="1" cols="20" placeholder="Please specify items seperated with ,'s"></textarea>
    <br>
    <input type="checkbox" name="vegetable" value="Vegetable">Vegetables
    <textarea name="vegetables" rows ="1" cols="20" placeholder="Please specify items seperated with ,'s"></textarea>
      <p><input class = "submitbutt" type="submit" value="Submit"></p>
</form>

</div>
