<form id="form" action ='/' method="post">
  <h2>Become a Donor!</h2>
    <h3>Name: </h3>
    <input type="text" name="name">
    <h3>City: </h3>
    <input type="text" name="city">
    <h3>Zip Code: </h3>
    <input type="text" name="zipcode">
    <h3>Street Name: </h3>
    <input type="text" name="streetname">
    <h3>Email: </h3>
    <input type="text" name="email">
    <h3>Phone number: </h3>
    <input type="text" name="phone" placeholder="##########">



    <input type="checkbox" name="food" value="Protein">Protien
    <br>
    <input type="checkbox" name="food" value="Grain">Grain
    <br>
    <input type="checkbox" name="food" value="Fruit">Fruit
    <br>
    <input type="checkbox" name="food" value="Vegetable">Vegetable
      <p><input type="submit" value="Submit"></p>
</form>
