<form id="form" action ='/form2' method="post">

  <link rel = "stylesheet" type = "text/css" href = "/styles/form.css"/>

  <h2>Become a Recipient!</h2>
    <h3>Name: </h3>
    <input class = "textarea" type="text" name="name">
    <h3>City: </h3>
    <input class = "textarea" type="text" name="city">
    <h3>Zip Code: </h3>
    <input class = "textarea" type="text" name="zipcode">
    <h3>Street Name: </h3>
    <input class = "textarea" type="text" name="streetname">
    <h3>Email: </h3>
    <input class = "textarea" type="text" name="email">
    <h3>Phone number: </h3>
    <input class = "textarea" type="text" name="phone" placeholder="##########">
    <br><br>

    Request categories of food: <br><br>

    <input type="checkbox" name="food" value="Protein">Protein
    <br>
    <input type="checkbox" name="food" value="Grain">Grain
    <br>
    <input type="checkbox" name="food" value="Fruit">Fruit
    <br>
    <input type="checkbox" name="food" value="Vegetable">Vegetable
    <br>
    <input type="checkbox" name="food" value="nonperishable">Non-perishable
      <p><input class = "submitbutt" type="submit" value="Submit"></p>
</form>
