<form id="form" action ='/form2' method="post">

  <link rel = "stylesheet" type = "text/css" href = "/styles/form.css"/>

  

  <title>home icon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <body>
      <i class="material-icons">home</i>
  </body>
  </html>

  <h2>Become a Recipient!</h2>
    <h3>Name: </h3>
    <input class = "textarea" type="text" name="name">
    <h3>City: </h3>
    <input class = "textarea" type="text" name="city">
    <h3>Zip Code: </h3>
    <input class = "textarea" type="text" name="zipcode">
    <h3>Street Name: </h3>
    <input class = "textarea" type="text" name="streetname">
    <h3>Email: </h3>
    <input class = "textarea" type="text" name="email">
    <h3>Phone number: </h3>
    <input class = "textarea" type="text" name="phone" placeholder="##########">
    <br><br>

    Request categories of food: <br><br>

    <input type="checkbox" name="food" value="Protein">Proteins
    <br>
    <input type="checkbox" name="food" value="Grain">Grains
    <br>
    <input type="checkbox" name="food" value="Fruit">Fruits
    <br>
    <input type="checkbox" name="food" value="Vegetable">Vegetables
    <br>
    <input type="checkbox" name="food" value="nonperishable">Non-perishables
      <p><input class = "submitbutt" type="submit" value="Submit"></p>
</form>
