<form id="form" action ='/form2' method="post">

  <link rel = "stylesheet" type = "text/css" href = "/styles/form2.css"/>



<div class="container">
  <input type="hidden" name="Bank" value="bank">
  <h2>Become a Recipient!</h2>
    <h3>Name: </h3>
    <input class = "textarea" type="text" name="name" placeholder="Naruto">
    <h3>City: </h3>
    <input class = "textarea" type="text" name="city" placeholder="Gotham City">
    <h3>Zip Code: </h3>
    <input class = "textarea" type="text" name="zipcode" placeholder="12345">
    <h3>Street Name: </h3>
    <input class = "textarea" type="text" name="streetname" placeholder="101 Sesame Street">
    <h3>Email: </h3>
    <input class = "textarea" type="text" name="email" placeholder="user@email.com">
    <h3>Phone number: </h3>
    <input class = "textarea" type="text" name="phone" placeholder="##########">
    <br><br>

    Request categories of food: <br><br>

    <input type="checkbox" name="protien" value="Protien">Protiens
    <br>
    <input type="checkbox" name="grain" value="Grain">Grains
    <br>
    <input type="checkbox" name="fruit" value="Fruit">Fruits
    <br>
    <input type="checkbox" name="vegetable" value="Vegetable">Vegetables

    <br>
      <button class = "button" type="submit"><span>Submit</span></button>
    </br>

</form>
</div>
