<!DOCTYPE html>

<!-- linking together the css and js -->
<div>
  <link rel = "stylesheet" type = "text/css" href = "/styles/style.css"/>
  <script rel = "javasheet" type="text/javascript" src="/javascript/javascript.js"></script>
  <script src="/javascript/javascript.js"></script>
</div>


<!-- dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Food Post</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/result">Donors and Shelters</a>
    <a href="/profile">My Profile</a>
    <a href="/map">Matches</a>
    <a href="/about">About Us</a>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>


<!-- title and logo -->
  <title>Food Post</title>
  <div id="statmenu">
    <h1 class = "statcont" id="maintitle">Food Post</h1>

    <img id = "logo" src="images/logo.png" alt="LOGO">
  </div>


<!-- fill out forms button -->
  <div>
    <form method="get" action="/form2">
      <button class= "button" type="submit">Become a Recipient</button>
    </form>
    <form method="get" action="/form">
      <button id= "donorb" type="submit">Become a Donor</button>
    </form>
  </div>



{% if current_user %}
     <b>Welcome, {{current_user}}</b></br>
     <a href="{{ logout_url }}">Log Out</a>
 {% else %}
     <a id="loginbutt" href="{{ login_url }}">Log In</a><br>
 {% endif %}




{% if current_user %}
    <a href="{{ logout_url }}">Log Out</a><br>
{% else %}
      <a href="{{ login_url }}">Log In</a><br>
{% endif %}

  <!--sign out button-->
  <!-- <button id=#signOut href="#" onclick="signOut();">Sign out</button>
  <script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  </script>

  <!-- google sign in -->
  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="276950401708-j0h4uu0865lqk4gu2tst9hsh8v10e20p.apps.googleusercontent.com">
  <div id = "signin" class="g-signin2" data-onsuccess="onSignIn"></div> -->



  <!-- <div id="statmenu">
    <h1 id="maintitle">Food Post</h1>

    <img id = "logo" src="images/logo.png" alt="LOGO">
  </div>
  <a href="{{ logout_url }}">Log Out</a><br>
  <div>
    <link rel = "stylesheet" type = "text/css" href = "/styles/style.css"/>
    <script rel = "javasheet" type="text/javascript" src="/javascript/javascript.js"></script>
  </div>
  <div>
  <button><a href="{{ login_url }}">Log in to become a donor or recipient.</a></button><br>
  </div>
 -->
