<!DOCTYPE html>
<title>Food Post</title>
<h1 id="maintitle">Food Post</h1>
<img id = "logo" src="images/logo.png" alt="LOGO">
<div class="dropdown">
  <button class="dropdown">Dropdown</button>
  <div class="dropdown-content">
    <a href="">About Food Post</a>
    <a href="">Monetary Donation</a>
    <a href="">Statistics</a>
  </div>
</div>
<link rel = "stylesheet" type = "text/css" href = "/styles/style.css"/>
<form method="get" action="/form">
  <button id= "button" type="submit">Become a Donor</button>
</form>
<form method="get" action="/form2">
  <button id= "button" type="submit">Become a Recipient</button>
</form>
