<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 80%;
        margin-left: 10%;
      }

      .toptext{
        text-align: center;
        font-family: monospace;
        font-size: 50px;
        font-variant: small-caps;
      }
       }
    </style>
    <!-- linking together the css and js -->
    <link rel = "stylesheet" type = "text/css" href = "/styles/map.css"/>
    <script src="/javascript/javascript.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
  <body>

<!-- dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Food Post</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/result">Donors and Recipients</a>
    <a href="/map">Matches</a>
    <a href="/about">About Us</a>
  </div>
</div>

<h3 class = "toptext">Locate Nearby Recipients</h3>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7IrX6t0pKJpU8Jnc-Jyrki3r2XA4sick&libraries=places&callback=initMap" async defer></script>

<script>
  var map, infoWindow, service, geocoder;
    function initMap() {
      infoWindow = new google.maps.InfoWindow;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom:13
          });
          infoWindow.setPosition(pos);
          infoWindow.setContent('You are here.');
          infoWindow.open(map);
          map.setCenter(pos);
          searchForFoodBanks(map);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }
    // TODO: handle this error by showing a default map
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

    function searchForFoodBanks(map) {
      var request = {
        location: map.getCenter(),
        radius: '8000',
        keyword: ['food bank']
      };
      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, callback);
    }

    function callback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }
    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent('<strong>' + place.name + '</strong>' + '<br>' + place.vicinity)
          infowindow.open(map, this);
        });
      }
</script>

{% if current_user_donor != "" %}
   {% for bank in list %}
      <h1>{{bank.name}}</h1>
      <p class = "bankinfo">{{bank.address}}, {{bank.city}}</p>
      <p class = "bankinfo">{{bank.phone}}</p>
      <p class = "bankinfo">{{bank.email}}</p>


      {% if bank.protiens != "" %}
        <p class = "bankinfo">{{bank.protiens}}</p>
        <br>
      {% endif %}

      {% if bank.grains != "" %}
        <p class = "bankinfo">{{bank.grains}}</p>
        <br>
      {% endif %}

      {% if bank.vegetables != "" %}
        <p class = "bankinfo">{{bank.vegetables}}</p>
        <br>
      {% endif %}

      {% if bank.fruits != "" %}
        <p class = "bankinfo">{{bank.fruits}}</p>
        <br>
      {% endif %}

      {% endfor %}
{% elif current_user_bank %}
  {% for donor in list %}
     <h1>{{donor.name}}</h1>
     {{donor.address}}, {{donor.city}}<br>
     {{donor.phone}}<br>
     {{donor.email}}
     <br>
     {% if donor.protiens != "" %}
       <b>{{donor.protiens}}</b>
       <br>
     {% endif %}

     {% if donor.grains != "" %}
       <b>{{donor.grains}}</b>
       <br>
     {% endif %}

     {% if donor.vegetables != "" %}
       <b>{{donor.vegetables}}</b>
       <br>
     {% endif %}

     {% if bank.fruits != "" %}
       <b>{{bank.fruits}}</b>
       <br>
     {% endif %}

  {% endfor %}

{% endif %}

</body>
</html>
