<!-- linking together the css and js -->
<div>
  <link rel = "stylesheet" type = "text/css" href = "/styles/style.css"/>

</div>

<!-- dropdown menu -->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Food Post</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/result">Donors and Shelters</a>
    <a href="/profile">My Profile</a>
    <a href="/map">Map?</a>
    <a href="/match">Matches</a>
    <a href="/about">About Us</a>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>


<h1>My Profile</h1>
