body {
  background: lightyellow;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  background-image: url(/images/logo.png);
  background-size: cover;
}

.material-icons {
  margin-left: -97%;
  position: relative;
}


h2 {
  font-size: 36px;
  font-family:monospace;
}

.textarea {
    width: 30%;
    height: 20px;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 0px;
    background-color: #f8f8f8;
    resize: none;
    margin: 30px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.submitbutt {
  border-radius: 4px;
  background-color: brown;
  border: none;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}
