body{
  background:#ec6a38;
  -webkit-animation:colour 9s linear infinite;
	-moz-animation:colour 9s linear infinite;
}

@-webkit-keyframes colour{
	0%{
		background:#ec6a38
	}

	40%{
		background:#ec4038
	}

	80%{
		background:#ec9138
	}

	100%{
		background:#ec6a38
	}

}

@-moz-keyframes colour{
	0%{
		background:#ec6a38
	}

	40%{
		background:#ec4038
	}

	80%{
		background:#ec9138
	}

	100%{
		background:#ec6a38
	}

}

#maintitle{
  font-family:arial;
  margin-top:100px;
  color:#fff;
  font-size:50px;
  text-align:center;
  text-transform:uppercase;
}

#resultTitle{
  font-family:arial;
  color:#fff;
  font-size:50px;
  text-transform:uppercase;
}

#logo{
  width: 70px;
  position: absolute;
  margin-left: 60%;
  margin-top: 5%;
}


.button {
  position: absolute;
  border: none;
  color: black;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  margin-left: 35%;
  margin-top: 20%;
  background: orange;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 10px 10px 5px #ec4038;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button2 {
  position: absolute;
  border: none;
  color: black;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  margin-left: 37%;
  margin-top: 35%;
  background: orange;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 10px 10px 5px #ec4038;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}


#signin {
  background-color: none;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-left: 90%;
  margin-top: -40px;
}

#loginbutt {
  background-color: #4CAF50;
  position: absolute;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 5px;
  cursor: pointer;
  margin-top: -3.5%;
  margin-left: 93.5%;
  text-decoration: none;
  border-radius: 3px;
}

#donorb {
  position: absolute;
  border: none;
  color: black;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  margin-left: 38%;
  margin-top: 25%;
  background: orange;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 10px 10px 5px #ec4038;
  align-self: center;

}


#maintitle{
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  position: absolute;
  margin-left: 40%;
}



#aboutpic{
  padding: 35px;
}



/*hover dropdown
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
