body {
  background-color: #52a334;
}

#button {
  position: relative;
  border: none;
  color: black;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  margin-left: 140px;
  margin-top: 200px;
  background: #996600;
  border-radius: 15px;
}

#logo{
  width: 70px;
  margin-left: 61%;
  position: absolute;
  margin-top: -105px;
}

#maintitle{
  font-size: 50px;
  text-align: center;
  font-family: monospace;
}
